body {
    background: #f6f6f6;
    padding-top: .6rem;
}

body>header {
    line-height: .5rem;
    background-color: #43515a;
    border-color: #43515a;
    color: #fff;
    user-select: none;
    position: fixed;
    width: 100%;
    top: 0;
    box-shadow: 0px 4px 5px 0px #f6f6f6;
}

body>header>ul {
    width: 10rem;
    margin: auto;
}

body>header>ul>li {
    display: inline-block;
    padding: 0 15px;
    font-size: .12rem;
    cursor: pointer;
}

body>header>ul>li:first-child {
    font-size: .2rem;
}

body>header>ul>li>input {
    height: .34rem;
    padding: 6px 12px;
    font-size: .14rem;
    background-color: #fff;
    background-image: none;
    border-radius: 4px;
    outline: none;
}

body>iframe {
    width: 100%;
    display: block;
    height: calc(100vh - .5rem);
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
}

body>em.position {
    width: 10rem;
    margin: auto;
    display: block;
    line-height: 2em;
    font-size: .14rem;
    font-style: normal;
    color: #2196F3;
}